* {box-sizing: border-box; margin:0;}

html,body{
  margin: 0;
  height: 100%;
}

#titol{
  font-size: 20px;
  color:red;
  text-align: center;
  font-style: italic;
  text-shadow: black;
  font-family: ubuntu;


}

.fila{
  width: 100%;
  height: 33.3333%;

}

.celda{
  border: thin solid black;
  margin: 0;
  float:left;
  width: 33.3333%;
  height: 100%;
  text-align: center;
  font-size: 50px;
  

}
